* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #2e2e2e;
}

ul {
	list-style: none;
}

h1 {
	margin: 30px 0;
	color: #fff;
	text-align: center;
}

.panel {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding: 30px 0;
}

.panel__excursions {
	width: 70%;
	color: #fff;
}

.excursions {
	display: flex;
	flex-wrap: wrap;
}

.excursions__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	border: 1px solid #bbb;
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	width: calc(50% - 20px);
}

.excursions__title {
	margin-bottom: 10px;
}

.excursions__form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.excursions__price {
	margin: 0 5px;
	font-weight: 700;
}

.excursions__field-name {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.excursions__field-title {
	width: 150px;
}

.excursions__field--submit {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.excursions__field-input,
.order__field-input {
	width: 100%;
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	background-color: #44bd32;
	border-radius: 4px;
	border: none;
	transition: background-color 0.3s linear;
	cursor: pointer;
}

.excursions__field-input:hover,
.order__field-input:hover {
	background-color: #50a043;
}

.excursions__title,
.excursions__description,
.excursions__field-price {
	border: 1px solid transparent;
}

.editable {
	border: 1px solid #e74c3c;
}

.panel__form {
	align-self: flex-start;
	width: 30%;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__label {
	display: flex;
	flex-direction: column;
}

.uploader,
.order {
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.form__field {
	display: block;
	padding: 4px;
}

.form__field--longtext {
	height: 100px;
	resize: vertical;
}

.excursions__item--prototype {
	display: none;
}
