* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #2e2e2e;
}

ul {
	list-style: none;
}

h1 {
	margin: 30px 0;
	color: #fff;
	text-align: center;
}

.panel {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding: 30px 0;
}

.panel__excursions {
	width: 70%;
	color: #fff;
}

.excursions {
	display: flex;
	flex-wrap: wrap;
}

.excursions__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
	gap: 15px;
	border: 1px solid #bbb;
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	width: calc(50% - 20px);
	min-height: 380px;
}

.excursions__title {
	margin-bottom: 10px;
}

.excursions__form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.excursions__field-price {
	margin: 0 5px;
	font-weight: 700;
}

.excursions__field-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.excursions__field-title {
	width: 150px;
}

.excursions__field-input {
	padding: 5px;
	min-width: 50%;
}

.excursions__field-input--submit {
	width: 100%;
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	background-color: #44bd32;
	border-radius: 4px;
	border: none;
	transition: background-color 0.3s linear;
	cursor: pointer;
}

.excursions__field-input--submit:hover {
	background-color: #50a043;
}

.panel__form {
	align-self: flex-start;
	background-color: #f4f4f4;
	padding: 20px;
	width: 30%;
	border-radius: 8px;
}

.order {
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.summary__item {
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}

.summary__title {
	display: flex;
	align-items: center;
	gap: 5px;
}

.summary__total-price {
	flex-grow: 1;
}

.summary__btn-remove {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-weight: 700;
	border-radius: 50%;
	background-color: #2e2e2e;
	color: #fff;
	transition: background-color 0.3s linear;
}

.summary__btn-remove:hover {
	background-color: #4b4a4a;
}

.panel__order {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.order__total-price-value {
	font-weight: 700;
}

.order__field-input {
	display: block;
	width: 100%;
	padding: 5px;
}

.order__field-errors {
	font-size: 12px;
	color: #e00707;
}

.order__field-submit {
	width: 100%;
	padding: 10px 0;
	background-color: #2e2e2e;
	color: #fff;
	font-weight: 700;
	border-radius: 4px;
	text-transform: uppercase;
	transition: background-color 0.3s linear;
	cursor: pointer;
}

.order__field-submit:hover {
	background-color: #4b4a4a;
}

.excursions__item--prototype,
.summary__item--prototype {
	display: none;
}
